<div class="about">

	<h1>About</h1>
	<p>Kehlani tells it like it is. Whether in conversation or on stage, the Oakland-born R&B singer and songwriter gives the straight truth about her life, pain, passion, love, triumph, and everything in between with collected calm and confidence. It’s that type of honesty that makes her music resonate with the depth of classic Motown and a vividly confessional lyricism reminiscent of Neo Soul. At the same time, her 2015 mixtape, You Should Be Here, tells a story that distinctly belongs to her. 

	 It all starts on the East Bay…

	Born a unique blend of ethnicities including African American, Caucasian, Native American, Spanish, and Filipino Native AmericanKehlani will casually tell you “You’re lucky if you make it out of Oakland.” However, in her case, talent usurped luck. Months after her birth, Kehlani lost her father, never properly meeting him. Mired in drug addiction, her mom shuffled her to an aunt. She initially found solace in dance—ballet in particular—but a knee injury sidelined her what might’ve been a budding career as ballerina. 

	“That’s when I started singing,” she recalls. “When I was living with my aunt, she played me all of these powerful women and love songs. It was that Neo Soul-R&B, and I couldn’t get enough of it. It felt right to sing from the moment I began.”

	In eighth grade, she became a member of the group Poplyfe produced by D’wayne Wiggins ofTony! Toni! Toné! fame. WithKehlani front and center, Poplyfe ended up becoming a finalist on America’s Got Talent—even performing with her idol Stevie Wonder during the final round. They didn’t win the competition, but she made an invaluable ally in Nick Cannon. A few industry pitfalls and detours derailed her musical momentum for six months until she decided to pick up the mic again. Without a home, she moved from couch to couch until Cannon got back in touch wanting to help however he could. Kehlani wanted one thing: studio time.

	Kehlani’s 2014 mixtape, Cloud 19, introduced her to the world. Immediately, tastemakers and audiences alike wholeheartedly embraced her.Complex showcased the songstress in a piece entitled “How R&B Saved 2014,” Pitchforkdubbed the mixtape one of the “Overlooked mixtapes of 2014,” Vice proclaimed her an “R&B Artist on the Verge of Blowing Up,” BuzzFeedpegged her at #4 on their “41 SXSW 2015 Artists You Need In Your Life,” and she ended up being one of SXSW’s “Top 5 Most Tweeted Artists.”

	In late April she shared You Should Be Herewith the world. Upon its release Billboard immediately called this project “The year’s first great R&B album”. Amongst their great review,You Should Be Here has seen quite a bit of success on the charts. Aside from being the top R&B debut of the week, it also came in at #1 on the iTunes R&B/Soul chart and #2 on both the Overall R&B Albums and Current R&B Albums chart. 

	Signing to Atlantic Records in early 2015 and releasing You Should Be Here, Kehlani possesses the power to make an impact because she’s so unwaveringly honest.

	“I am one-hundred percent music,” she’ll assure.

	That’s because it’s the truth.<p>
	<br>
	<div class= "contact">
		<h3>Contact Info:</h3> 
		<p>Info@thetsunamimob.com<p>
	</div>
</div>
