
<div class= "home-wrapper">
  <div class= "new-panal">
  <div class= "listen">
    <h1>Music Videos</h1>
    <a href="http://www.kehlanimusic.com/musicvideos">View All</a>
  </div>
</div>

<div class= "new-panal">
  <div class= "purchase">
    <h1>Tsunamisodes</h1>
    <a href="http://www.kehlanimusic.com/tsunamisodes">View All</a>
  </div>
</div>
</div>

<div class="soundcloud-streaming">
  <p>soundcloud streaming</p>
  </div>





