<div class="container">


 
    <div class="promote-soundcloud">
    <p>promote song on soundcloud</p>
    </div>
 
  <br>
  <div class="boxes zero">
        <div class="music-video">
            <p>music videos</p>
        </div>

        <div class="soundcloud-stream">
          <p>soundcloud streaming</p>
        </div>
  </div>
  


  



  <!-- <h2>Boxes baseline aligned</h2>
  <div class="boxes two">
    <div class="box">
    <h1>Lorem ipsum</h1>
    </div>
    <div class="box">
    <h4>Lorem ipsum dolor sit amet</h4>
    </div>
    <div class="box">
    <h2>Lorem ipsum dolor sit</h2>
    </div>
  </div> -->
</div>